{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="text-center">Votre photo a été générée avec succès</h1>
    <div class="link">
        <a href="{{ path('photo') }}" class="btn btn3">Retourner à l'accueil</a>
        <a href="{{ path('photo_download', { filename: filename }) }}" class="btn btn2" download>Télécharger l'image</a>
    </div>
    <div>
        <img class="result" src="{{ asset('uploads/photos/' ~ filename) }}" alt="Final Image">
    </div>
     </div>
{% endblock %}
